<h2>
  <strong>Running Containers</strong>
</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Container Name</th>
      <th>Image</th>
      <th>Created Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let container of runningContainers">
      <th *ngIf="container.Names[0]">
        {{ container.Names[0] | slice:1 }}
      </th>
      <th *ngIf="container.Image">
        {{ container.Image }}
      </th>
      <th *ngIf="container.Created">
        {{ container.Created }}
      </th>
      <th *ngIf="container.Status">
        {{ container.Status }}
      </th>
      <th>
        <button type="button" class="btn btn-warning" (click)="stopContainer(container.Id)">Stop</button>
      </th>
    </tr>
  </tbody>
</table>

<div style="height: 30px"></div>

<h2>
  <strong>Stopped Containers</strong>
</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Container Name</th>
      <th>Image</th>
      <th>Created Date</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let container of stoppedContainers">
      <th *ngIf="container.Names[0]">
        {{ container.Names[0] | slice:1 }}
      </th>
      <th *ngIf="container.Image">
        {{ container.Image }}
      </th>
      <th *ngIf="container.Created">
        {{ container.Created }}
      </th>
      <th *ngIf="container.Status">
        {{ container.Status }}
      </th>
      <th>
        <button type="button" class="btn btn-success" (click)="restartContainer(container.Id)">Restart</button>
      </th>
      <th>
        <button type="button" class="btn btn-danger" (click)="removeContainer(container.Id)">Remove</button>
      </th>
    </tr>
  </tbody>
</table>
