<h2>
  <strong>Images</strong>
</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>REPOSITORY</th>
      <th>TAG</th>
      <th>IMAGE ID</th>
      <th>CREATED</th>
      <th>SIZE</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let image of images">
      <th *ngIf="image.RepoTags[0]">
        {{ image.RepoTags[0].split(":")[0] }}
      </th>
      <th *ngIf="image.RepoTags[0]">
        {{ image.RepoTags[0].split(":")[1] }}
      </th>
      <th *ngIf="image.Id">
        {{ image.Id.split(":")[1].slice(0, 12) }}
      </th>
      <th *ngIf="image.Created">
        {{ image.Created }}
      </th>
      <th *ngIf="image.Size">
        {{ (image.Size / 1000000).toFixed(3) }}
        MB
      </th>
      <th>
        <button type="button" class="btn btn-primary btn-global" (click)="createContainer(image)">Create</button>
      </th>
      <th>
        <button type="button" class="btn btn-danger btn-global" (click)="toggleModal()" (click)="getImage(image)">Remove</button>
      </th>
    </tr>
  </tbody>
</table>

<div *ngIf="showModal" class="modal-base"></div>
<div *ngIf="showModal" class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="toggleModal()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">
        <strong>Alert</strong>
      </h4>
    </div>
    <div class="modal-body">
      <p>
        Do you want to remove image
        <strong>{{ image.RepoTags[0] }}</strong>
        ?
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-modal" (click)="toggleModal()">No</button>
      <button type="button" class="btn btn-primary btn-modal" (click)="toggleModal()" (click)="removeImage(image.Id)">Yes</button>
    </div>
  </div>
</div>
