<h2>
  <strong>Images</strong>
</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Image Name</th>
      <th>Size</th>
      <th>Created Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let image of images">
      <th *ngIf="image.RepoTags[0]">
        {{ image.RepoTags[0] }}
      </th>
      <th *ngIf="image.Created">
        {{ image.Created }}
      </th>
      <th *ngIf="image.Size">
        {{ image.Size }}
      </th>
      <th>
        <button type="button" class="btn btn-primary" (click)="createContainer(image)">Start Container</button>
      </th>
      <th>
        <button type="button" class="btn btn-danger">Remove Image</button>
      </th>
    </tr>
  </tbody>
</table>
